---
permalink: /test-blog/
title: "Test Blog"
layout: archive
author_profile: true
---

{% include base_path %}

<h2>测试博客页面 - 调试信息</h2>

<p>测试 - site.posts 的大小: {{ site.posts | size }}</p>

{% if site.posts.size > 0 %}
  <h3>找到的文章:</h3>
  {% for post in site.posts %}
    <div>
      <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
      <p>日期: {{ post.date | date: "%Y-%m-%d" }}</p>
      <p>分类: {{ post.categories | join: ', ' }}</p>
    </div>
  {% endfor %}
{% else %}
  <p>没有找到任何文章</p>
{% endif %}