
:root {
  --body-color: #{$body-color-light};
  --background-color: #{$background-color-light};
  --text-color: #{$text-color-light};
  --border-color: #{$border-color-light};
  --link-color: #{$link-color};
  --link-color-hover: #{$link-color-hover};
  --masthead-link-color: #{$masthead-link-color};
  --masthead-link-color-hover: #{$masthead-link-color-hover};
  --code-background-color: #{$code-background-color-light};
}

body {
  background-color: #{$background-color-light};
  color: #{$text-color-light};
  font-family: #{$global-font-family};
}

a {
  color: #{$link-color};
}

a:hover {
  color: #{$link-color-hover};
}

.masthead__menu-item a {
  color: #{$masthead-link-color};
}

.masthead__menu-item a:hover {
  color: #{$masthead-link-color-hover};
}

pre, code {
  background-color: #{$code-background-color-light};
}

.page, .archive {
    border-color: #{$border-color-light};
}

/* Ensure font consistency across all content */
.page__content {
  font-family: #{$global-font-family};
}

.page__content p,
.page__content h1,
.page__content h2,
.page__content h3,
.page__content h4,
.page__content h5,
.page__content h6,
.page__content li,
.page__content a,
.page__content span,
.page__content div {
  font-family: #{$global-font-family};
}
